<ion-view title="Edit Patient Profile">
    <form>
    <ion-content padding="true" class="has-header">
         <h4><font color="#49c6b3">Patient ID: {{patient._id}}</font></h4>     <div ng-controller="hideCtrl">
        <button ng-click="hideCard()" class="button button-full button-outline button-dark button">
            General Details
        </button>
          <div class="card" ng-show="show">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">First Name</span>
                    <input type="text" ng-model="patient.firstname">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Last Name</span>
                    <input type="text" ng-model="patient.lastname">
                </label>
          </div>
        <button ng-click="hideCard()" class="button button-full button-outline button-dark arrow">
            Demographics
        </button>
            <div class="card" ng-show="show">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Case Number</span>
                    <input type="number" ng-model="patient.caseno">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">MD</span>
                    <input type="text" ng-model="patient.md">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Institution</span>
                    <input type="text" ng-model="patient.institution">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Contact Number</span>
                    <input type="tel" ng-model="patient.contact">
                </label>
                 <label class="item item-input item-stacked-label">
                    <span class="input-label">Email Address</span>
                    <input type="email" ng-model="patient.email">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Address</span>
                    <input type="text" ng-model="patient.address">
                </label>
                <label class="item item-input item-stacked-label item-select">
                    <span class="input-label">Sex</span>
                    <select ng-model="patient.sex">
                        <option>Female</option>
                        <option>Male</option>
                        <option>Other</option>
                    </select>
                </label>
                <label class="item item-input item-stacked-label item-select">
                    <span class="input-label">Civil Status</span>
                    <select ng-model="patient.civilstatus">
                        <option>Single/Widower/Separated</option>
                        <option>Married/Live-In Partner</option>
                    </select>
                </label>
                <label class="item item-input item-stacked-label">
                  <span class="input-label">Date of Birth</span>
                  <input type="date" ng-model="patient.date_birth">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Date of First Symptom</span>
                    <input type="date" ng-model="patient.date_onset">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Date of Diagnosis</span>
                    <input type="date" ng-model="patient.date_diagnosis">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Date of Registry Entry</span>
                    <input type="date" ng-model="patient.date_registryentry">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Disease Duration (cell M minus cell L)</span>
                    <input type="number" ng-model="patient.diseaseduration">
                </label>
                <label class="item item-input item-stacked-label item-select">
                    <span class="input-label">Status</span>
                    <select ng-model="patient.status">
                        <option>Active</option>
                        <option>Lost to Followup</option>
                        <option>Expired</option>
                    </select>
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">If expired, indicate months from diagnosis</span>
                    <input type="number" ng-model="patient.expired">
                </label>
                 <label class="item item-input item-stacked-label">
                    <span class="input-label">If expired, indicate cause of death (1 = infection; 2 = aneurysm rupture / leak; 3 = unrelated cause; 4 = others - please specify)</span>
                    <input type="text" ng-model="patient.expired_cause">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Years of Formal Education</span>
                    <input type="number" ng-model="patient.years_education">
                </label>
                <label class="item item-input item-stacked-label item-select">
                    <span class="input-label">Employment</span>
                    <select ng-model="patient.employment">
                        <option>No Source of Income</option>
                        <option>Gainfully Employed</option>
                    </select>
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Chief Complaint</span>
                    <input type="text" ng-model="patient.chiefcomplaint">
                </label>
            </div>
          <button ng-click="hideCard()" class="button button-full button-outline button-dark button">
            Family and Social Histories
          </button>
          <div class="card" ng-show="show">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Family Member with Vasculitis (0 = none; 1 = 1 member; 2 = 2, and so on)</span>
                    <input type="text" ng-model="patient.family">
                </label>
                <label class="item item-input item-stacked-label item-select">
                    <span class="input-label">Smoking</span>
                    <select ng-model="patient.smoking">
                        <option>No</option>
                        <option>Rare</option>
                        <option>Often</option>
                    </select>
                </label>
                <label class="item item-input item-stacked-label item-select">
                    <span class="input-label">Alcohol</span>
                    <select ng-model="patient.alcohol">
                        <option>No</option>
                        <option>Rare</option>
                        <option>Often</option>
                    </select>
                </label>
            </div>
          <button ng-click="hideCard()" class="button button-full button-outline button-dark button">
            Prednisone or Other Glucocorticoids
          </button>
          <div class="card" ng-show="show">
               <label class="item item-input item-stacked-label item-select">
                    <span class="input-label">Ever Received</span>
                    <select ng-model="patient.gluco_rec">
                        <option>Yes</option>
                        <option>No</option>
                        <option>Unknown</option>
                    </select>
                </label>
                <label class="item item-input item-stacked-label item-select">
                    <span class="input-label">Currently Receiving</span>
                    <select ng-model="patient.gluco_currrec">
                        <option>Yes</option>
                        <option>No</option>
                        <option>Unknown</option>
                    </select>
                </label>
                <label class="item item-input item-stacked-label item-select">
                    <span class="input-label">Last Taken</span>
                    <select ng-model="patient.gluco_lasttaken">
                        <option>Today</option>
                        <option>The Past Week</option>
                        <option>Greater than 1 Week Ago</option>
                    </select>
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Cummulative Months of Use</span>
                    <input type="text" ng-model="patient.gluco_months">
                </label>
            </div>
          <button ng-click="hideCard()" class="button button-full button-outline button-dark button">
            IV Cyclophosphamide
          </button>
          <div class="card" ng-show="show">
               <label class="item item-input item-stacked-label item-select">
                    <span class="input-label">Ever Received</span>
                    <select ng-model="patient.ivcyclo_rec">
                        <option>Yes</option>
                        <option>No</option>
                        <option>Unknown</option>
                    </select>
                </label>
                <label class="item item-input item-stacked-label item-select">
                    <span class="input-label">Currently Receiving</span>
                    <select ng-model="patient.ivcyclo_currrec">
                        <option>Yes</option>
                        <option>No</option>
                        <option>Unknown</option>
                    </select>
                </label>
                <label class="item item-input item-stacked-label item-select">
                    <span class="input-label">Last Taken</span>
                    <select ng-model="patient.ivcyclo_lasttaken">
                        <option>Today</option>
                        <option>The Past Week</option>
                        <option>Greater than 1 Week Ago</option>
                    </select>
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Cummulative Months of Use</span>
                    <input type="text" ng-model="patient.ivcyclo_months">
                </label>
          </div>
          <button ng-click="hideCard()" class="button button-full button-outline button-dark button">
            PO Cyclophosphamide
          </button>
          <div class="card" ng-show="show">
               <label class="item item-input item-stacked-label item-select">
                    <span class="input-label">Ever Received</span>
                    <select ng-model="patient.pocyclo_rec">
                        <option>Yes</option>
                        <option>No</option>
                        <option>Unknown</option>
                    </select>
                </label>
                <label class="item item-input item-stacked-label item-select">
                    <span class="input-label">Currently Receiving</span>
                    <select ng-model="patient.pocyclo_currrec">
                        <option>Yes</option>
                        <option>No</option>
                        <option>Unknown</option>
                    </select>
                </label>
                <label class="item item-input item-stacked-label item-select">
                    <span class="input-label">Last Taken</span>
                    <select ng-model="patient.pocyclo_lasttaken">
                        <option>Today</option>
                        <option>The Past Week</option>
                        <option>Greater than 1 Week Ago</option>
                    </select>
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Cummulative Months of Use</span>
                    <input type="text" ng-model="patient.pocyclo_months">
                </label>
          </div>
          <button ng-click="hideCard()" class="button button-full button-outline button-dark button">
            Azathioprine
          </button>
          <div class="card" ng-show="show">
               <label class="item item-input item-stacked-label item-select">
                    <span class="input-label">Ever Received</span>
                    <select ng-model="patient.aza_rec">
                        <option>Yes</option>
                        <option>No</option>
                        <option>Unknown</option>
                    </select>
                </label>
                <label class="item item-input item-stacked-label item-select">
                    <span class="input-label">Currently Receiving</span>
                    <select ng-model="patient.aza_currrec">
                        <option>Yes</option>
                        <option>No</option>
                        <option>Unknown</option>
                    </select>
                </label>
                <label class="item item-input item-stacked-label item-select">
                    <span class="input-label">Last Taken</span>
                    <select ng-model="patient.aza_lasttaken">
                        <option>Today</option>
                        <option>The Past Week</option>
                        <option>Greater than 1 Week Ago</option>
                    </select>
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Cummulative Months of Use</span>
                    <input type="text" ng-model="patient.aza_months">
                </label>
          </div>
          <button ng-click="hideCard()" class="button button-full button-outline button-dark button">
            Methotrexate
          </button>
          <div class="card" ng-show="show">
               <label class="item item-input item-stacked-label item-select">
                    <span class="input-label">Ever Received</span>
                    <select ng-model="patient.metho_rec">
                        <option>Yes</option>
                        <option>No</option>
                        <option>Unknown</option>
                    </select>
                </label>
                <label class="item item-input item-stacked-label item-select">
                    <span class="input-label">Currently Receiving</span>
                    <select ng-model="patient.metho_currrec">
                        <option>Yes</option>
                        <option>No</option>
                        <option>Unknown</option>
                    </select>
                </label>
                <label class="item item-input item-stacked-label item-select">
                    <span class="input-label">Last Taken</span>
                    <select ng-model="patient.metho_lasttaken">
                        <option>Today</option>
                        <option>The Past Week</option>
                        <option>Greater than 1 Week Ago</option>
                    </select>
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Cummulative Months of Use</span>
                    <input type="text" ng-model="patient.metho_months">
                </label>
          </div>
          <button ng-click="hideCard()" class="button button-full button-outline button-dark button">
            Mycophenolate
          </button>
          <div class="card" ng-show="show">
               <label class="item item-input item-stacked-label item-select">
                    <span class="input-label">Ever Received</span>
                    <select ng-model="patient.myco_rec">
                        <option>Yes</option>
                        <option>No</option>
                        <option>Unknown</option>
                    </select>
                </label>
                <label class="item item-input item-stacked-label item-select">
                    <span class="input-label">Currently Receiving</span>
                    <select ng-model="patient.myco_currrec">
                        <option>Yes</option>
                        <option>No</option>
                        <option>Unknown</option>
                    </select>
                </label>
                <label class="item item-input item-stacked-label item-select">
                    <span class="input-label">Last Taken</span>
                    <select ng-model="patient.myco_lasttaken">
                        <option>Today</option>
                        <option>The Past Week</option>
                        <option>Greater than 1 Week Ago</option>
                    </select>
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Cummulative Months of Use</span>
                    <input type="text" ng-model="patient.myco_months">
                </label>
          </div>
          <button ng-click="hideCard()" class="button button-full button-outline button-dark button">
            Cyclosporine
          </button>
          <div class="card" ng-show="show">
               <label class="item item-input item-stacked-label item-select">
                    <span class="input-label">Ever Received</span>
                    <select ng-model="patient.cyclo_rec">
                        <option>Yes</option>
                        <option>No</option>
                        <option>Unknown</option>
                    </select>
                </label>
                <label class="item item-input item-stacked-label item-select">
                    <span class="input-label">Currently Receiving</span>
                    <select ng-model="patient.cyclo_currrec">
                        <option>Yes</option>
                        <option>No</option>
                        <option>Unknown</option>
                    </select>
                </label>
                <label class="item item-input item-stacked-label item-select">
                    <span class="input-label">Last Taken</span>
                    <select ng-model="patient.cyclo_lasttaken">
                        <option>Today</option>
                        <option>The Past Week</option>
                        <option>Greater than 1 Week Ago</option>
                    </select>
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Cummulative Months of Use</span>
                    <input type="text" ng-model="patient.cyclo_months">
                </label>
          </div>
          <button ng-click="hideCard()" class="button button-full button-outline button-dark button">
            Etanercept
          </button>
          <div class="card" ng-show="show">
               <label class="item item-input item-stacked-label item-select">
                    <span class="input-label">Ever Received</span>
                    <select ng-model="patient.eta_rec">
                        <option>Yes</option>
                        <option>No</option>
                        <option>Unknown</option>
                    </select>
                </label>
                <label class="item item-input item-stacked-label item-select">
                    <span class="input-label">Currently Receiving</span>
                    <select ng-model="patient.eta_currrec">
                        <option>Yes</option>
                        <option>No</option>
                        <option>Unknown</option>
                    </select>
                </label>
                <label class="item item-input item-stacked-label item-select">
                    <span class="input-label">Last Taken</span>
                    <select ng-model="patient.eta_lasttaken">
                        <option>Today</option>
                        <option>The Past Week</option>
                        <option>Greater than 1 Week Ago</option>
                    </select>
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Cummulative Months of Use</span>
                    <input type="text" ng-model="patient.eta_months">
                </label>
          </div>
          <button ng-click="hideCard()" class="button button-full button-outline button-dark button">
            Infliximab
          </button>
          <div class="card" ng-show="show">
               <label class="item item-input item-stacked-label item-select">
                    <span class="input-label">Ever Received</span>
                    <select ng-model="patient.infli_rec">
                        <option>Yes</option>
                        <option>No</option>
                        <option>Unknown</option>
                    </select>
                </label>
                <label class="item item-input item-stacked-label item-select">
                    <span class="input-label">Currently Receiving</span>
                    <select ng-model="patient.infli_currrec">
                        <option>Yes</option>
                        <option>No</option>
                        <option>Unknown</option>
                    </select>
                </label>
                <label class="item item-input item-stacked-label item-select">
                    <span class="input-label">Last Taken</span>
                    <select ng-model="patient.infli_lasttaken">
                        <option>Today</option>
                        <option>The Past Week</option>
                        <option>Greater than 1 Week Ago</option>
                    </select>
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Cummulative Months of Use</span>
                    <input type="text" ng-model="patient.infli_months">
                </label>
          </div>
          <button ng-click="hideCard()" class="button button-full button-outline button-dark button">
            Adalimumab
          </button>
          <div class="card" ng-show="show">
               <label class="item item-input item-stacked-label item-select">
                    <span class="input-label">Ever Received</span>
                    <select ng-model="patient.ada_rec">
                        <option>Yes</option>
                        <option>No</option>
                        <option>Unknown</option>
                    </select>
                </label>
                <label class="item item-input item-stacked-label item-select">
                    <span class="input-label">Currently Receiving</span>
                    <select ng-model="patient.ada_currrec">
                        <option>Yes</option>
                        <option>No</option>
                        <option>Unknown</option>
                    </select>
                </label>
                <label class="item item-input item-stacked-label item-select">
                    <span class="input-label">Last Taken</span>
                    <select ng-model="patient.ada_lasttaken">
                        <option>Today</option>
                        <option>The Past Week</option>
                        <option>Greater than 1 Week Ago</option>
                    </select>
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Cummulative Months of Use</span>
                    <input type="text" ng-model="patient.ada_months">
                </label>
          </div>
          <button ng-click="hideCard()" class="button button-full button-outline button-dark button">
            Rituximab
          </button>
          <div class="card" ng-show="show">
               <label class="item item-input item-stacked-label item-select">
                    <span class="input-label">Ever Received</span>
                    <select ng-model="patient.ritu_rec">
                        <option>Yes</option>
                        <option>No</option>
                        <option>Unknown</option>
                    </select>
                </label>
                <label class="item item-input item-stacked-label item-select">
                    <span class="input-label">Currently Receiving</span>
                    <select ng-model="patient.ritu_currrec">
                        <option>Yes</option>
                        <option>No</option>
                        <option>Unknown</option>
                    </select>
                </label>
                <label class="item item-input item-stacked-label item-select">
                    <span class="input-label">Last Taken</span>
                    <select ng-model="patient.ritu_lasttaken">
                        <option>Today</option>
                        <option>The Past Week</option>
                        <option>Greater than 1 Week Ago</option>
                    </select>
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Cummulative Months of Use</span>
                    <input type="text" ng-model="patient.ritu_months">
                </label>
          </div>
          <button ng-click="hideCard()" class="button button-full button-outline button-dark button">
            Plasmapheresis
          </button>
          <div class="card" ng-show="show">
               <label class="item item-input item-stacked-label item-select">
                    <span class="input-label">Ever Received</span>
                    <select ng-model="patient.plasma_rec">
                        <option>Yes</option>
                        <option>No</option>
                        <option>Unknown</option>
                    </select>
                </label>
                <label class="item item-input item-stacked-label item-select">
                    <span class="input-label">Currently Receiving</span>
                    <select ng-model="patient.plasma_currrec">
                        <option>Yes</option>
                        <option>No</option>
                        <option>Unknown</option>
                    </select>
                </label>
                <label class="item item-input item-stacked-label item-select">
                    <span class="input-label">Last Taken</span>
                    <select ng-model="patient.plasma_lasttaken">
                        <option>Today</option>
                        <option>The Past Week</option>
                        <option>Greater than 1 Week Ago</option>
                    </select>
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Cummulative Months of Use</span>
                    <input type="text" ng-model="patient.plasma_months">
                </label>
          </div>
          <button ng-click="hideCard()" class="button button-full button-outline button-dark button">
            TMP/SMX: High-Dose (ds tablet BID)
          </button>
          <div class="card" ng-show="show">
               <label class="item item-input item-stacked-label item-select">
                    <span class="input-label">Ever Received</span>
                    <select ng-model="patient.tmphd_rec">
                        <option>Yes</option>
                        <option>No</option>
                        <option>Unknown</option>
                    </select>
                </label>
                <label class="item item-input item-stacked-label item-select">
                    <span class="input-label">Currently Receiving</span>
                    <select ng-model="patient.tmphd_currrec">
                        <option>Yes</option>
                        <option>No</option>
                        <option>Unknown</option>
                    </select>
                </label>
                <label class="item item-input item-stacked-label item-select">
                    <span class="input-label">Last Taken</span>
                    <select ng-model="patient.tmphd_lasttaken">
                        <option>Today</option>
                        <option>The Past Week</option>
                        <option>Greater than 1 Week Ago</option>
                    </select>
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Cummulative Months of Use</span>
                    <input type="text" ng-model="patient.tmphd_months">
                </label>
          </div>
          <button ng-click="hideCard()" class="button button-full button-outline button-dark button">
            TMP/SMX: Low-Dose (ss tablet OD or ds tablet 3x/week)           
          </button>
          <div class="card" ng-show="show">
               <label class="item item-input item-stacked-label item-select">
                    <span class="input-label">Ever Received</span>
                    <select ng-model="patient.tmpld_rec">
                        <option>Yes</option>
                        <option>No</option>
                        <option>Unknown</option>
                    </select>
                </label>
                <label class="item item-input item-stacked-label item-select">
                    <span class="input-label">Currently Receiving</span>
                    <select ng-model="patient.tmpld_currrec">
                        <option>Yes</option>
                        <option>No</option>
                        <option>Unknown</option>
                    </select>
                </label>
                <label class="item item-input item-stacked-label item-select">
                    <span class="input-label">Last Taken</span>
                    <select ng-model="patient.tmpld_lasttaken">
                        <option>Today</option>
                        <option>The Past Week</option>
                        <option>Greater than 1 Week Ago</option>
                    </select>
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Cummulative Months of Use</span>
                    <input type="text" ng-model="patient.tmpld_months">
                </label>
          </div>
          <button ng-click="hideCard()" class="button button-full button-outline button-dark button">
            Aspirin: Low-Dose           
          </button>
          <div class="card" ng-show="show">
               <label class="item item-input item-stacked-label item-select">
                    <span class="input-label">Ever Received</span>
                    <select ng-model="patient.aspld_rec">
                        <option>Yes</option>
                        <option>No</option>
                        <option>Unknown</option>
                    </select>
                </label>
                <label class="item item-input item-stacked-label item-select">
                    <span class="input-label">Currently Receiving</span>
                    <select ng-model="patient.aspld_currrec">
                        <option>Yes</option>
                        <option>No</option>
                        <option>Unknown</option>
                    </select>
                </label>
                <label class="item item-input item-stacked-label item-select">
                    <span class="input-label">Last Taken</span>
                    <select ng-model="patient.aspld_lasttaken">
                        <option>Today</option>
                        <option>The Past Week</option>
                        <option>Greater than 1 Week Ago</option>
                    </select>
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Cummulative Months of Use</span>
                    <input type="text" ng-model="patient.aspld_months">
                </label>
          </div>
          <button ng-click="hideCard()" class="button button-full button-outline button-dark button">
            Aspirin: High-Dose (>325mg/day)                    
          </button>
          <div class="card" ng-show="show">
               <label class="item item-input item-stacked-label item-select">
                    <span class="input-label">Ever Received</span>
                    <select ng-model="patient.asphd_rec">
                        <option>Yes</option>
                        <option>No</option>
                        <option>Unknown</option>
                    </select>
                </label>
                <label class="item item-input item-stacked-label item-select">
                    <span class="input-label">Currently Receiving</span>
                    <select ng-model="patient.asphd_currrec">
                        <option>Yes</option>
                        <option>No</option>
                        <option>Unknown</option>
                    </select>
                </label>
                <label class="item item-input item-stacked-label item-select">
                    <span class="input-label">Last Taken</span>
                    <select ng-model="patient.asphd_lasttaken">
                        <option>Today</option>
                        <option>The Past Week</option>
                        <option>Greater than 1 Week Ago</option>
                    </select>
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Cummulative Months of Use</span>
                    <input type="text" ng-model="patient.asphd_months">
                </label>
          </div>
          <button ng-click="hideCard()" class="button button-full button-outline button-dark button">
            Clopidogrel               
          </button>
          <div class="card" ng-show="show">
               <label class="item item-input item-stacked-label item-select">
                    <span class="input-label">Ever Received</span>
                    <select ng-model="patient.clopi_rec">
                        <option>Yes</option>
                        <option>No</option>
                        <option>Unknown</option>
                    </select>
                </label>
                <label class="item item-input item-stacked-label item-select">
                    <span class="input-label">Currently Receiving</span>
                    <select ng-model="patient.clopi_currrec">
                        <option>Yes</option>
                        <option>No</option>
                        <option>Unknown</option>
                    </select>
                </label>
                <label class="item item-input item-stacked-label item-select">
                    <span class="input-label">Last Taken</span>
                    <select ng-model="patient.clopi_lasttaken">
                        <option>Today</option>
                        <option>The Past Week</option>
                        <option>Greater than 1 Week Ago</option>
                    </select>
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Cummulative Months of Use</span>
                    <input type="text" ng-model="patient.clopi_months">
                </label>
          </div>
          <button ng-click="hideCard()" class="button button-full button-outline button-dark button">
            Statin 
          </button>
          <div class="card" ng-show="show">
               <label class="item item-input item-stacked-label item-select">
                    <span class="input-label">Ever Received</span>
                    <select ng-model="patient.stat_rec">
                        <option>Yes</option>
                        <option>No</option>
                        <option>Unknown</option>
                    </select>
                </label>
                <label class="item item-input item-stacked-label item-select">
                    <span class="input-label">Currently Receiving</span>
                    <select ng-model="patient.stat_currrec">
                        <option>Yes</option>
                        <option>No</option>
                        <option>Unknown</option>
                    </select>
                </label>
                <label class="item item-input item-stacked-label item-select">
                    <span class="input-label">Last Taken</span>
                    <select ng-model="patient.stat_lasttaken">
                        <option>Today</option>
                        <option>The Past Week</option>
                        <option>Greater than 1 Week Ago</option>
                    </select>
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Cummulative Months of Use</span>
                    <input type="text" ng-model="patient.stat_months">
                </label>
          </div>
          <button ng-click="hideCard()" class="button button-full button-outline button-dark button">
            Oral Contraceptives         
          </button>
          <div class="card" ng-show="show">
               <label class="item item-input item-stacked-label item-select">
                    <span class="input-label">Ever Received</span>
                    <select ng-model="patient.oral_rec">
                        <option>Yes</option>
                        <option>No</option>
                        <option>Unknown</option>
                    </select>
                </label>
                <label class="item item-input item-stacked-label item-select">
                    <span class="input-label">Currently Receiving</span>
                    <select ng-model="patient.oral_currrec">
                        <option>Yes</option>
                        <option>No</option>
                        <option>Unknown</option>
                    </select>
                </label>
                <label class="item item-input item-stacked-label item-select">
                    <span class="input-label">Last Taken</span>
                    <select ng-model="patient.oral_lasttaken">
                        <option>Today</option>
                        <option>The Past Week</option>
                        <option>Greater than 1 Week Ago</option>
                    </select>
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Cummulative Months of Use</span>
                    <input type="text" ng-model="patient.oral_months">
                </label>
          </div>
          <button ng-click="hideCard()" class="button button-full button-outline button-dark button">
            Estrogen         
          </button>
          <div class="card" ng-show="show">
               <label class="item item-input item-stacked-label item-select">
                    <span class="input-label">Ever Received</span>
                    <select ng-model="patient.est_rec">
                        <option>Yes</option>
                        <option>No</option>
                        <option>Unknown</option>
                    </select>
                </label>
                <label class="item item-input item-stacked-label item-select">
                    <span class="input-label">Currently Receiving</span>
                    <select ng-model="patient.est_currrec">
                        <option>Yes</option>
                        <option>No</option>
                        <option>Unknown</option>
                    </select>
                </label>
                <label class="item item-input item-stacked-label item-select">
                    <span class="input-label">Last Taken</span>
                    <select ng-model="patient.est_lasttaken">
                        <option>Today</option>
                        <option>The Past Week</option>
                        <option>Greater than 1 Week Ago</option>
                    </select>
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Cummulative Months of Use</span>
                    <input type="text" ng-model="patient.est_months">
                </label>
          </div>
          <button ng-click="hideCard()" class="button button-full button-outline button-dark button">
            Other: (Indicate)    
          </button>
          <div class="card" ng-show="show">
               <label class="item item-input item-stacked-label">
                    <span class="input-label">Indicate the Name</span>
                    <input type="text" ng-model="patient.other_name">
               </label>
               <label class="item item-input item-stacked-label item-select">
                    <span class="input-label">Ever Received</span>
                    <select ng-model="patient.other_rec">
                        <option>Yes</option>
                        <option>No</option>
                        <option>Unknown</option>
                    </select>
                </label>
                <label class="item item-input item-stacked-label item-select">
                    <span class="input-label">Currently Receiving</span>
                    <select ng-model="patient.other_currrec">
                        <option>Yes</option>
                        <option>No</option>
                        <option>Unknown</option>
                    </select>
                </label>
                <label class="item item-input item-stacked-label item-select">
                    <span class="input-label">Last Taken</span>
                    <select ng-model="patient.other_lasttaken">
                        <option>Today</option>
                        <option>The Past Week</option>
                        <option>Greater than 1 Week Ago</option>
                    </select>
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Cummulative Months of Use</span>
                    <input type="text" ng-model="patient.other_months">
                </label>
          </div>
          <button ng-click="hideCard()" class="button button-full button-outline button-dark button">
            Complications   
          </button>
          <div class="card" ng-show="show">
               <label class="item item-input item-stacked-label">
                    <span class="input-label">Aneurysm rupture</span>
                    <input type="text" ng-model="patient.compli_aneurysm">
               </label>
               <label class="item item-input item-stacked-label">
                    <span class="input-label">Stroke</span>
                    <input type="text" ng-model="patient.compli_stroke">
               </label>
               <label class="item item-input item-stacked-label">
                    <span class="input-label">Limb Ischemia</span>
                    <input type="text" ng-model="patient.compli_limb">
               </label>
               <label class="item item-input item-stacked-label">
                    <span class="input-label">Dialysis</span>
                    <input type="text" ng-model="patient.compli_dialysis">
               </label>
               <label class="item item-input item-stacked-label">
                    <span class="input-label">Others</span>
                    <input type="text" ng-model="patient.compli_others">
               </label>
          </div>
          <button ng-click="hideCard()" class="button button-full button-outline button-dark button">
            Invasive Management  
          </button>
          <div class="card" ng-show="show">
               <label class="item item-input item-stacked-label">
                    <span class="input-label">PTCA</span>
                    <input type="text" ng-model="patient.inva_ptca">
               </label>
               <label class="item item-input item-stacked-label">
                    <span class="input-label">Aneurysm grafting</span>
                    <input type="text" ng-model="patient.inva_anuerysm">
               </label>
               <label class="item item-input item-stacked-label">
                    <span class="input-label">Amputation</span>
                    <input type="text" ng-model="patient.inva_ampu">
               </label>
               <label class="item item-input item-stacked-label">
                    <span class="input-label">Others</span>
                    <input type="text" ng-model="patient.inva_others">
               </label>
          </div>
          <div class="padding">
            <a ui-sref="app.typesofvasculitis" 
                ng-click="save(
                patient._id,
                patient._rev,
                patient.timestamp,
                patient.firstname, 
                patient.lastname, 
                patient.sex,
                patient.caseno,
                patient.md,
                patient.institution,
                patient.contact,
                patient.email,
                patient.address,
                patient.status,
                patient.date_registryentry,
                patient.date_diagnosis,
                patient.date_onset,
                patient.diseaseduration,
                patient.chiefcomplaint,
                patient.civilstatus,
                patient.years_education,
                patient.employment,
                patient.smoking,
                patient.alcohol,
                patient.date_birth,
                patient.expired,
                patient.expired_cause,
                patient.family,
                patient.gluco_rec,
                patient.gluco_currrec,
                patient.gluco_lasttaken,
                patient.gluco_months,
                patient.ivcyclo_rec,
                patient.ivcyclo_currrec,
                patient.ivcyclo_lasttaken,
                patient.ivcyclo_months,
                patient.pocyclo_rec, 
                patient.pocyclo_currrec, 
                patient.pocyclo_lasttaken,
                patient.pocyclo_months,
                patient.aza_rec,
                patient.aza_currrec,
                patient.aza_lasttaken,
                patient.aza_months,
                patient.metho_rec,
                patient.metho_currrec,
                patient.metho_lasttaken,
                patient.metho_months,
                patient.myco_rec,
                patient.myco_currrec,
                patient.myco_lasttaken,
                patient.myco_months,
                patient.cyclo_rec,
                patient.cyclo_currrec,
                patient.cyclo_lasttaken,
                patient.cyclo_months,
                patient.eta_rec,
                patient.eta_currrec,
                patient.eta_lasttaken,
                patient.eta_months,
                patient.infli_rec,
                patient.infli_currrec,
                patient.infli_lasttaken,
                patient.infli_months,
                patient.ada_rec,
                patient.ada_currrec,
                patient.ada_lasttaken,
                patient.ada_months,
                patient.ritu_rec,
                patient.ritu_currrec,
                patient.ritu_lasttaken,
                patient.ritu_months,
                patient.plasma_rec,
                patient.plasma_currrec,
                patient.plasma_lasttaken,
                patient.plasma_months,
                patient.tmphd_rec,
                patient.tmphd_currrec,
                patient.tmphd_lasttaken,
                patient.tmphd_months,
                patient.tmpld_rec,
                patient.tmpld_currrec,
                patient.tmpld_lasttaken,
                patient.tmpld_months,
                patient.aspld_rec,
                patient.aspld_currrec,
                patient.aspld_lasttaken,
                patient.aspld_months,
                patient.asphd_rec,
                patient.asphd_currrec,
                patient.asphd_lasttaken,
                patient.asphd_months,
                patient.clopi_rec,
                patient.clopi_currrec,
                patient.clopi_lasttaken,
                patient.clopi_months,
                patient.stat_rec,
                patient.stat_currrec,
                patient.stat_lasttaken,
                patient.stat_months,
                patient.oral_rec,
                patient.oral_currrec,
                patient.oral_lasttaken,
                patient.oral_months,
                patient.est_rec,
                patient.est_currrec,
                patient.est_lasttaken,
                patient.est_months,
                patient.other_name,
                patient.other_rec,
                patient.other_currrec,
                patient.other_lasttaken,
                patient.other_months,
                patient.compli_aneurysm,
                patient.compli_stroke,
                patient.compli_limb,
                patient.compli_dialysis,
                patient.compli_others,
                patient.inva_ptca,
                patient.inva_aneurysm,
                patient.inva_ampu,
                patient.inva_others,
                patient.changes)" 
                button class="button button-calm button-block ">Start Evaluation</a>
          </div>
        </div>
    </ion-content>
     </form>
</ion-view>