<ion-view title="Changes Feed">

  <ion-content padding="true">
    <ion-list>
      <ion-item class="item-text-wrap item-spacing item-calm" ng-repeat="c in changes">
        Profile of {{c.firstname}} {{c.lastname}} with ID <b><font color="#495dc6">{{c.title}}</font></b> was edited on {{c.date}} at {{c.time}}.
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>