<ion-view title="Login">
    <ion-content padding="true" class="has-header">
        <ion-slide-box on-slide-changed="slideHasChanged($index)" auto-play="true" does-continue="true">
            <ion-slide>
                <img class="walkthrough" src="img/walkthrough1.png" align="center"></img>
            </ion-slide>
            <ion-slide>
                <img class="walkthrough" src="img/walkthrough2.png" align="center"></img>
            </ion-slide>
            <!-- <ion-slide>
                <img class="walkthrough" src="img/walkthrough3.png" align="center"></img>
            </ion-slide> -->
            <ion-slide>
                <img class="walkthrough" src="img/walkthrough4.png" align="center"></img>
            </ion-slide>
        </ion-slide-box>
        <form>
            <label class="item item-input">
                <span class="input-label">Username</span>
                <input type="text" placeholder="Username" ng-model="patient.username">
            </label>
            <label class="item item-input">
                <span class="input-label">Password</span>
                <input type="password" placeholder="Password" ng-model="patient.password">
            </label>
            <div class="spacer" style="height: 40px;"></div>
            <div ng-controller="loginCtrl"><div ng-controller="patientsCtrl">
                <button ng-click="onLogin(patient.username, patient.password);chart()" class="button button-calm button-block">Log In</button>
            </div></div>
            <!-- <a href="#/signup" class="button button-calm button-clear button-block ">Forgot password?</a> -->
        </form>
    </ion-content>
</ion-view>