<ion-view title="Patient Profile">
    <ion-content padding="true" class="has-header">
        <h4><font color="#49c6b3">Patient ID: {{patient._id}}</font></h4>
        <div ng-controller="hideCtrl">
          <button ng-click="hideCard()" class="button button-full button-outline button-dark button">
            General Details
          </button>
          <div class="card" ng-show="show">
              <div class="item item-text-wrap">
                <font color="#495dc6">First Name</font>
                  {{patient.firstname}}
                <br>
                <font color="#495dc6">Last Name</font>
                  {{patient.lastname}}
              </div>
          </div>
        </div>
        <div ng-controller="hideCtrl"><button ng-click="hideCard()" class="button button-full button-outline button-dark arrow">
            Demographics
        </button>
        <div class="card" ng-show="show">
                <div class="item item-text-wrap">
                    <font color="#495dc6">Case Number</font>
                      {{patient.caseno}}
                    <br>
                    <font color="#495dc6">MD</font>
                      {{patient.md}}
                    <br>
                    <font color="#495dc6">Institution</font>
                      {{patient.institution}}
                    <br>
                    <font color="#495dc6">Contact Number</font>  
                      {{patient.contact}}
                    <br>
                    <font color="#495dc6">Email Address</font>
                      {{patient.email}}
                    <br>
                    <font color="#495dc6">Address</font> 
                      {{patient.address}}
                    <br>
                    <font color="#495dc6">Sex</font> 
                      {{patient.sex}}
                    <br>
                    <font color="#495dc6">Civil Status</font>
                      {{patient.civilstatus}}
                    <br>
                    <font color="#495dc6">Date of Birth</font>
                      {{patient.date_birth}}
                    <br>
                    <font color="#495dc6">Date of First Symptom</font>
                      {{patient.date_onset}}
                    <br>
                    <font color="#495dc6">Date of Diagnosis</font>
                      {{patient.date_diagnosis}}
                    <br>
                    <font color="#495dc6">Date of Registry Entry</font>
                      {{patient.date_registryentry}}
                    <br>
                    <font color="#495dc6">Disease Duration (cell M minus cell L)</font>
                      {{patient.diseaseduration}}
                    <br>
                    <font color="#495dc6">Status</font>
                      {{patient.status}}
                    <br>
                    <font color="#495dc6">If expired, indicate months from diagnosis</font>
                      {{patient.expired}}
                    <br>
                    <font color="#495dc6">If expired, indicate cause of death (1 = infection; 2 = aneurysm rupture / leak; 3 = unrelated cause; 4 = others - please specify)</font>
                      {{patient.expired_cause}}
                    <br>
                    <font color="#495dc6">Years of Formal Education</font>
                      {{patient.years_education}}
                    <br>
                    <font color="#495dc6">Employment</font>
                      {{patient.employment}}
                    <br>
                    <font color="#495dc6">Chief Complaint</font>
                      {{patient.chiefcomplaint}}
                    <br>
              </div>
          </div>
          <div ng-controller="hideCtrl"><button ng-click="hideCard()" class="button button-full button-outline button-dark button">
            Family and Social Histories
          </button>
          <div class="card" ng-show="show">
              <div class="item item-text-wrap">
                <font color="#495dc6">Family Member with Vasculitis (0 = none; 1 = 1 member; 2 = 2, and so on)</font>  
                  {{patient.family}}
                <br>
                <font color="#495dc6">Smoking</font>
                  {{patient.smoking}}
                <br>
                <font color="#495dc6">Alcohol</font>
                  {{patient.alcohol}}
            </div>
        </div>
        <div ng-controller="hideCtrl"><button ng-click="hideCard()" class="button button-full button-outline button-dark button">
            Prednisone or Other Glucocorticoids
          </button>
          <div class="card" ng-show="show">
              <div class="item item-text-wrap">
                <font color="#495dc6">Ever Received</font>  
                  {{patient.gluco_rec}}
                <br>
                <font color="#495dc6">Currently Receiving</font>
                  {{patient.gluco_currrec}}
                <br>
                <font color="#495dc6">Last Taken</font>
                  {{patient.gluco_lasttaken}}
                <br>
                <font color="#495dc6">Cumulative Months of Use</font>
                  {{patient.gluco_months}}
            </div>
        </div>
        <div ng-controller="hideCtrl"><button ng-click="hideCard()" class="button button-full button-outline button-dark button">
            IV Cyclophosphamide
          </button>
          <div class="card" ng-show="show">
              <div class="item item-text-wrap">
                <font color="#495dc6">Ever Received</font>  
                  {{patient.ivcycle_rec}}
                <br>
                <font color="#495dc6">Currently Receiving</font>
                  {{patient.ivcycle_currrec}}
                <br>
                <font color="#495dc6">Last Taken</font>
                  {{patient.ivcycle_lasttaken}}
                <br>
                <font color="#495dc6">Cumulative Months of Use</font>
                  {{patient.ivcycle_months}}
            </div>
        </div>
        <div ng-controller="hideCtrl"><button ng-click="hideCard()" class="button button-full button-outline button-dark button">
            PO Cyclophosphamide     
          </button>
          <div class="card" ng-show="show">
              <div class="item item-text-wrap">
                <font color="#495dc6">Ever Received</font>  
                  {{patient.pocycle_rec}}
                <br>
                <font color="#495dc6">Currently Receiving</font>
                  {{patient.pocycle_currrec}}
                <br>
                <font color="#495dc6">Last Taken</font>
                  {{patient.pocycle_lasttaken}}
                <br>
                <font color="#495dc6">Cumulative Months of Use</font>
                  {{patient.pocycle_months}}
            </div>
        </div>
        <div ng-controller="hideCtrl"><button ng-click="hideCard()" class="button button-full button-outline button-dark button">
            Azathioprine          
          </button>
          <div class="card" ng-show="show">
              <div class="item item-text-wrap">
                <font color="#495dc6">Ever Received</font>  
                  {{patient.aza_rec}}
                <br>
                <font color="#495dc6">Currently Receiving</font>
                  {{patient.aza_currrec}}
                <br>
                <font color="#495dc6">Last Taken</font>
                  {{patient.aza_lasttaken}}
                <br>
                <font color="#495dc6">Cumulative Months of Use</font>
                  {{patient.aza_months}}
            </div>
        </div>
        <div ng-controller="hideCtrl"><button ng-click="hideCard()" class="button button-full button-outline button-dark button">
            Methotrexate               
          </button>
          <div class="card" ng-show="show">
              <div class="item item-text-wrap">
                <font color="#495dc6">Ever Received</font>  
                  {{patient.metho_rec}}
                <br>
                <font color="#495dc6">Currently Receiving</font>
                  {{patient.metho_currrec}}
                <br>
                <font color="#495dc6">Last Taken</font>
                  {{patient.metho_lasttaken}}
                <br>
                <font color="#495dc6">Cumulative Months of Use</font>
                  {{patient.metho_months}}
            </div>
        </div>
        <div ng-controller="hideCtrl"><button ng-click="hideCard()" class="button button-full button-outline button-dark button">
            Mycophenolate                  
          </button>
          <div class="card" ng-show="show">
              <div class="item item-text-wrap">
                <font color="#495dc6">Ever Received</font>  
                  {{patient.myco_rec}}
                <br>
                <font color="#495dc6">Currently Receiving</font>
                  {{patient.myco_currrec}}
                <br>
                <font color="#495dc6">Last Taken</font>
                  {{patient.myco_lasttaken}}
                <br>
                <font color="#495dc6">Cumulative Months of Use</font>
                  {{patient.myco_months}}
            </div>
        </div>
        <div ng-controller="hideCtrl"><button ng-click="hideCard()" class="button button-full button-outline button-dark button">
            Cyclosporine                      
          </button>
          <div class="card" ng-show="show">
              <div class="item item-text-wrap">
                <font color="#495dc6">Ever Received</font>  
                  {{patient.cyclo_rec}}
                <br>
                <font color="#495dc6">Currently Receiving</font>
                  {{patient.cyclo_currrec}}
                <br>
                <font color="#495dc6">Last Taken</font>
                  {{patient.cyclo_lasttaken}}
                <br>
                <font color="#495dc6">Cumulative Months of Use</font>
                  {{patient.cyclo_months}}
            </div>
        </div>
        <div ng-controller="hideCtrl"><button ng-click="hideCard()" class="button button-full button-outline button-dark button">
            Etanercept                           
          </button>
          <div class="card" ng-show="show">
              <div class="item item-text-wrap">
                <font color="#495dc6">Ever Received</font>  
                  {{patient.eta_rec}}
                <br>
                <font color="#495dc6">Currently Receiving</font>
                  {{patient.eta_currrec}}
                <br>
                <font color="#495dc6">Last Taken</font>
                  {{patient.eta_lasttaken}}
                <br>
                <font color="#495dc6">Cumulative Months of Use</font>
                  {{patient.eta_months}}
            </div>
        </div>
        <div ng-controller="hideCtrl"><button ng-click="hideCard()" class="button button-full button-outline button-dark button">
            Infliximab                               
          </button>
          <div class="card" ng-show="show">
              <div class="item item-text-wrap">
                <font color="#495dc6">Ever Received</font>  
                  {{patient.infli_rec}}
                <br>
                <font color="#495dc6">Currently Receiving</font>
                  {{patient.infli_currrec}}
                <br>
                <font color="#495dc6">Last Taken</font>
                  {{patient.infli_lasttaken}}
                <br>
                <font color="#495dc6">Cumulative Months of Use</font>
                  {{patient.infli_months}}
            </div>
        </div>
        <div ng-controller="hideCtrl"><button ng-click="hideCard()" class="button button-full button-outline button-dark button">
            Adalimumab                                    
          </button>
          <div class="card" ng-show="show">
              <div class="item item-text-wrap">
                <font color="#495dc6">Ever Received</font>  
                  {{patient.ada_rec}}
                <br>
                <font color="#495dc6">Currently Receiving</font>
                  {{patient.ada_currrec}}
                <br>
                <font color="#495dc6">Last Taken</font>
                  {{patient.ada_lasttaken}}
                <br>
                <font color="#495dc6">Cumulative Months of Use</font>
                  {{patient.ada_months}}
            </div>
        </div>
        <div ng-controller="hideCtrl"><button ng-click="hideCard()" class="button button-full button-outline button-dark button">
            Rituximab                                       
          </button>
          <div class="card" ng-show="show">
              <div class="item item-text-wrap">
                <font color="#495dc6">Ever Received</font>  
                  {{patient.ritu_rec}}
                <br>
                <font color="#495dc6">Currently Receiving</font>
                  {{patient.ritu_currrec}}
                <br>
                <font color="#495dc6">Last Taken</font>
                  {{patient.ritu_lasttaken}}
                <br>
                <font color="#495dc6">Cumulative Months of Use</font>
                  {{patient.ritu_months}}
            </div>
        </div>
        <div ng-controller="hideCtrl"><button ng-click="hideCard()" class="button button-full button-outline button-dark button">
            Plasmapheresis                                             
          </button>
          <div class="card" ng-show="show">
              <div class="item item-text-wrap">
                <font color="#495dc6">Ever Received</font>  
                  {{patient.plasma_rec}}
                <br>
                <font color="#495dc6">Currently Receiving</font>
                  {{patient.plasma_currrec}}
                <br>
                <font color="#495dc6">Last Taken</font>
                  {{patient.plasma_lasttaken}}
                <br>
                <font color="#495dc6">Cumulative Months of Use</font>
                  {{patient.plasma_months}}
            </div>
        </div>
        <div ng-controller="hideCtrl"><button ng-click="hideCard()" class="button button-full button-outline button-dark button">
          TMP/SMX: High-Dose (ds tablet BID)                   
          </button>
          <div class="card" ng-show="show">
              <div class="item item-text-wrap">
                <font color="#495dc6">Ever Received</font>  
                  {{patient.tmphd_rec}}
                <br>
                <font color="#495dc6">Currently Receiving</font>
                  {{patient.tmphd_currrec}}
                <br>
                <font color="#495dc6">Last Taken</font>
                  {{patient.tmphd_lasttaken}}
                <br>
                <font color="#495dc6">Cumulative Months of Use</font>
                  {{patient.tmphd_months}}
            </div>
        </div>
        <div ng-controller="hideCtrl"><button ng-click="hideCard()" class="button button-full button-outline button-dark button">
          TMP/SMX: Low-Dose (ss tablet OD or ds tablet 3x/week)                     
          </button>
          <div class="card" ng-show="show">
              <div class="item item-text-wrap">
                <font color="#495dc6">Ever Received</font>  
                  {{patient.tmpld_rec}}
                <br>
                <font color="#495dc6">Currently Receiving</font>
                  {{patient.tmpld_currrec}}
                <br>
                <font color="#495dc6">Last Taken</font>
                  {{patient.tmpld_lasttaken}}
                <br>
                <font color="#495dc6">Cumulative Months of Use</font>
                  {{patient.tmpld_months}}
            </div>
        </div>
        <div ng-controller="hideCtrl"><button ng-click="hideCard()" class="button button-full button-outline button-dark button">
          Aspirin: Low-Dose                                                   
          </button>
          <div class="card" ng-show="show">
              <div class="item item-text-wrap">
                <font color="#495dc6">Ever Received</font>  
                  {{patient.aspld_rec}}
                <br>
                <font color="#495dc6">Currently Receiving</font>
                  {{patient.aspld_currrec}}
                <br>
                <font color="#495dc6">Last Taken</font>
                  {{patient.aspld_lasttaken}}
                <br>
                <font color="#495dc6">Cumulative Months of Use</font>
                  {{patient.aspld_months}}
            </div>
        </div>
        <div ng-controller="hideCtrl"><button ng-click="hideCard()" class="button button-full button-outline button-dark button">
          Aspirin: High-Dose (>325mg/day)                                       
          </button>
          <div class="card" ng-show="show">
              <div class="item item-text-wrap">
                <font color="#495dc6">Ever Received</font>  
                  {{patient.asphd_rec}}
                <br>
                <font color="#495dc6">Currently Receiving</font>
                  {{patient.asphd_currrec}}
                <br>
                <font color="#495dc6">Last Taken</font>
                  {{patient.asphd_lasttaken}}
                <br>
                <font color="#495dc6">Cumulative Months of Use</font>
                  {{patient.asphd_months}}
            </div>
        </div>
        <div ng-controller="hideCtrl"><button ng-click="hideCard()" class="button button-full button-outline button-dark button">
          Clopidogrel                                                  
          </button>
          <div class="card" ng-show="show">
              <div class="item item-text-wrap">
                <font color="#495dc6">Ever Received</font>  
                  {{patient.clopi_rec}}
                <br>
                <font color="#495dc6">Currently Receiving</font>
                  {{patient.clopi_currrec}}
                <br>
                <font color="#495dc6">Last Taken</font>
                  {{patient.clopi_lasttaken}}
                <br>
                <font color="#495dc6">Cumulative Months of Use</font>
                  {{patient.clopi_months}}
            </div>
        </div>
        <div ng-controller="hideCtrl"><button ng-click="hideCard()" class="button button-full button-outline button-dark button">
          Statin                                                
          </button>
          <div class="card" ng-show="show">
              <div class="item item-text-wrap">
                <font color="#495dc6">Ever Received</font>  
                  {{patient.stat_rec}}
                <br>
                <font color="#495dc6">Currently Receiving</font>
                  {{patient.stat_currrec}}
                <br>
                <font color="#495dc6">Last Taken</font>
                  {{patient.stat_lasttaken}}
                <br>
                <font color="#495dc6">Cumulative Months of Use</font>
                  {{patient.stat_months}}
            </div>
        </div>
        <div ng-controller="hideCtrl"><button ng-click="hideCard()" class="button button-full button-outline button-dark button">
          Oral Contraceptives                                               
          </button>
          <div class="card" ng-show="show">
              <div class="item item-text-wrap">
                <font color="#495dc6">Ever Received</font>  
                  {{patient.oral_rec}}
                <br>
                <font color="#495dc6">Currently Receiving</font>
                  {{patient.oral_currrec}}
                <br>
                <font color="#495dc6">Last Taken</font>
                  {{patient.oral_lasttaken}}
                <br>
                <font color="#495dc6">Cumulative Months of Use</font>
                  {{patient.oral_months}}
            </div>
        </div>
        <div ng-controller="hideCtrl"><button ng-click="hideCard()" class="button button-full button-outline button-dark button">
          Estrogen                                                    
          </button>
          <div class="card" ng-show="show">
              <div class="item item-text-wrap">
                <font color="#495dc6">Ever Received</font>  
                  {{patient.est_rec}}
                <br>
                <font color="#495dc6">Currently Receiving</font>
                  {{patient.est_currrec}}
                <br>
                <font color="#495dc6">Last Taken</font>
                  {{patient.est_lasttaken}}
                <br>
                <font color="#495dc6">Cumulative Months of Use</font>
                  {{patient.est_months}}
            </div>
        </div>
        <div ng-controller="hideCtrl"><button ng-click="hideCard()" class="button button-full button-outline button-dark button">
          Other: {{patient.other_name}}
          </button>
          <div class="card" ng-show="show">
              <div class="item item-text-wrap">
                <font color="#495dc6">Ever Received</font>  
                  {{patient.other_rec}}
                <br>
                <font color="#495dc6">Currently Receiving</font>
                  {{patient.other_currrec}}
                <br>
                <font color="#495dc6">Last Taken</font>
                  {{patient.other_lasttaken}}
                <br>
                <font color="#495dc6">Cumulative Months of Use</font>
                  {{patient.other_months}}
            </div>
        </div>
        <div ng-controller="hideCtrl"><button ng-click="hideCard()" class="button button-full button-outline button-dark button">
          Complications
          </button>
          <div class="card" ng-show="show">
              <div class="item item-text-wrap">
                <font color="#495dc6">Aneurysm rupture</font>  
                  {{patient.compli_aneurysm}}
                <br>
                <font color="#495dc6">Stroke</font>
                  {{patient.compli_stroke}}
                <br>
                <font color="#495dc6">Limb Ischemia</font>
                  {{patient.compli_limb}}
                <br>
                <font color="#495dc6">Dialysis</font>
                  {{patient.compli_dialysis}}
                <br>
                <font color="#495dc6">Others</font>
                  {{patient.compli_others}}
            </div>
        </div>
        <div ng-controller="hideCtrl"><button ng-click="hideCard()" class="button button-full button-outline button-dark button">
          Invasive Management
          </button>
          <div class="card" ng-show="show">
              <div class="item item-text-wrap">
                <font color="#495dc6">PTCA</font>  
                  {{patient.inva_ptca}}
                <br>
                <font color="#495dc6">Stroke</font>
                  {{patient.inva_aneurysm}}
                <br>
                <font color="#495dc6">Limb Ischemia</font>
                  {{patient.inva_ampu}}
                <br>
                <font color="#495dc6">Dialysis</font>
                  {{patient.inva_others}}
            </div>
        </div>
        <button class="button button-calm button-block" ui-sref="app.addpatient" ng-click="get(patient._id)">Update Profile</button>
    </ion-content>
</ion-view>