<ion-modal-view>
	<ion-header-bar>
	  <h1 class="title">Sync Database to the Main Database</h1>
	</ion-header-bar>
	<ion-content>
	  <form>
            <label class="item item-input">
                <span class="input-label">Username</span>
                <input type="text" placeholder="Username" ng-model="patient.username">
            </label>
            <label class="item item-input">
                <span class="input-label">Password</span>
                <input type="password" placeholder="Password" ng-model="patient.password">
            </label>
            <div class="spacer" style="height: 40px;"></div>
            <div ng-controller="patientsCtrl">
                <button ng-click="sync(patient.username, patient.password)" class="button button-calm button-block">Sync</button>
            </div>
        </form>
            <!-- <div ng-controller="syncController">
                <button ng-click="closeModal()" class="button button-calm button-block">Cancel</a>
            </div> -->
	</ion-content>
</ion-modal-view>