.item-dark .item{
  background: #495dc6;
}

.item-calm .item{
  background: #499bc6;
}

.item-spacing{
  margin:10px auto;
}

.graphoption {
  width: 33.33%; /* Width of new image */
  height: auto; /* Height of new image */
  vertical-align: middle;
  float: left;
}
.angular-google-map-container {
  width: 100%;
  height: 504px;
}

.walkthrough {
  width: 100%; /* Width of new image */
  height: auto; /* Height of new image */
  vertical-align: middle;
}

.graphview{
	width: auto;
	height: 300px;
}

.item-select select{
	direction: ltr;
}

.medium-btn{
  width: 160px;
}

textarea {
  height:auto;
  max-width:600px;
  color:#999;
  font-weight:400;
  font-size:20px;
  font-family:'Ubuntu', Helvetica, Arial, sans-serif;
  width:100%;
  background:#fff;
  border-radius:3px;
  line-height:2em;
  border:none;
  box-shadow:0px 0px 5px 1px rgba(0,0,0,0.1);
  padding:30px;
  -webkit-transition: height 2s ease;
  -moz-transition: height 2s ease;
  -ms-transition: height 2s ease;
  -o-transition: height 2s ease;
  transition: height 2s ease;
}

.content-positive{
  background-color: #49c6b3;
}