<ion-view title="Philippines Rheumatoid Vasculitis Disease Registry">
  <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

    <ion-tabs class="tabs-stable tabs-icon-top tabs-positive">
        <ion-tab title="Demographics" icon="ion-pie-graph">
          <ion-nav-view name="Demographics">
            <ion-content padding="true" class="has-header" ng-controller="patientsCtrl">
                <div class="card">
                    <div class="item item-divider item-dark">
                        <h2><b><font color="white">Gender</font></b></h2>
                    </div>
                    <div class="item item-text-wrap">
                        <canvas id="line" class="chart chart-bar" data="visual.sex.data" labels="visual.sex.labels" legend="true" fillColor="white" options="{showTooltips: false}"></canvas>
                    </div>
                </div>
                <div class="card">
                    <div class="item item-divider item-dark">
                        <h2><b><font color="white">Civil Status</font></b></h2>
                    </div>
                    <div class="item item-text-wrap">
                        <canvas id="line" class="chart chart-bar" data="visual.civilstatus.data" labels="visual.civilstatus.labels" legend="true" fillColor="white" options="{showTooltips: false}"></canvas>
                    </div>
                </div>
                <div class="card">
                    <div class="item item-divider item-dark">
                        <h2><b><font color="white">Status</font></b></h2>
                    </div>
                    <div class="item item-text-wrap">
                        <canvas id="line" class="chart chart-bar" data="visual.status.data" labels="visual.status.labels" legend="true" fillColor="white" options="{showTooltips: false}"></canvas>
                    </div>
                </div>
                <div class="card">
                    <div class="item item-divider item-dark">
                        <h2><b><font color="white">Employment</font></b></h2>
                    </div>
                    <div class="item item-text-wrap">
                        <canvas id="line" class="chart chart-bar" data="visual.employment.data" labels="visual.employment.labels" legend="true" fillColor="white" options="{showTooltips: false}"></canvas>
                    </div>
                </div>
                <!-- <div class="card">
                    <div class="item item-divider item-dark">
                        <h2><b><font color="white">Date of Birth</font></b></h2>
                    </div>
                    <div class="item item-text-wrap">
                        <canvas id="line" class="chart chart-bar" data="visual.birth.data" labels="visual.birth.labels" legend="true" fillColor="white" options="{showTooltips: false}"></canvas>
                    </div>
                </div> -->
            </ion-content>
          </ion-nav-view>
        </ion-tab>
        <ion-tab title="Social History" icon="ion-pie-graph">
          <ion-nav-view name="Social History">
            <ion-content padding="true" class="has-header">
                <div class="card">
                    <div class="item item-divider item-dark">
                        <h2><b><font color="white">Smoking</font></b></h2>
                    </div>
                    <div class="item item-text-wrap">
                        <canvas id="line" class="chart chart-bar" data="visual.smoking.data" labels="visual.smoking.labels" legend="true" fillColor="white" options="{showTooltips: false}"></canvas>
                    </div>
                </div>
                <div class="card">
                    <div class="item item-divider item-dark">
                        <h2><b><font color="white">Alcohol</font></b></h2>
                    </div>
                    <div class="item item-text-wrap">
                        <canvas id="line" class="chart chart-bar" data="visual.alcohol.data" labels="visual.alcohol.labels" legend="true" fillColor="white" options="{showTooltips: false}"></canvas>
                    </div>
                </div>
            </ion-content>
          <ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>