<ion-view title="Diseases">
    <ion-content padding="true" class="has-header">
        <div ng-controller="diseasesCtrl">
            <ion-list>
                <ion-item ng-repeat="disease in diseases">
                <!-- connect to patients with that disease -->
                    {{disease.title}}
                </ion-item>
            </ion-list>
        </div>
    </ion-content>
</ion-view>