<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-positive">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-positive">
      <h1 class="title">Menu</h1>
    </ion-header-bar>
    <ion-content class="has-header content-positive" background-color="#499bc6">
      <ion-list>
       <ion-item class="item-spacing" menu-close ui-sref="app.search">
          <i class="icon ion-search"></i>
          Search Database
        </ion-item>
        <div ng-controller="patientsCtrl">
          <ion-item class="item-spacing" menu-close ui-sref="app.dashboard" ng-click="chart()">
            <i class="icon ion-ios-home"></i>
            Dashboard
          </ion-item>
          <ion-item class="item-spacing" menu-close ui-sref="app.patients" ng-click="allDocs()">
            <i class="icon ion-ios-people"></i>
            Patients
          </ion-item>
          <ion-item class="item-spacing" menu-close ui-sref="app.changesfeed" ng-click="feed()">
            <i class="icon ion-edit"></i>
            Changes Feed
          </ion-item>
        </div>
        <ion-item class="item-spacing" menu-close>
          <i class="icon ion-ios-download"></i>
          Sync Online
        </ion-item>
        <ion-item menu-close ui-sref="app.report">
          <i class="icon ion-settings"></i>
          Report a Problem
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
  </ion-side-menu>
</ion-side-menus>
