<ion-view title="Patients">
 
  <ion-nav-buttons side="right">
    <!--ng-controller="TodoController"-->
    <button class="right button button-icon icon ion-plus" ui-sref="app.addpatient"> </button>
  </ion-nav-buttons>

  <ion-content padding="true">
     <ion-list>
        <ion-item class="item-text-wrap item-spacing item-calm" ng-repeat="p in patients" ui-sref='app.patientprofile' ng-click="get(p._id)">
            {{p.firstname}} {{p.lastname}}
        </ion-item>
      </ion-list>
  </ion-content>
</ion-view>