<ion-view title="Patient Profile">
    <ion-content padding="true" class="has-header">
        <h4><font color="#49c6b3">Patient ID: {{patient._id}}</font></h4>
        <div ng-controller="hideCtrl">
          <button ng-click="hideCard()" class="button button-full button-outline button-dark button">
            General Details
          </button>
          <div class="card" ng-show="show">
              <div class="item item-text-wrap">
                <font color="#495dc6">First Name</font>
                  {{patient.firstname}}
                <br>
                <font color="#495dc6">Last Name</font>
                  {{patient.lastname}}
              </div>
          </div>
        </div>
        <div ng-controller="hideCtrl"><button ng-click="hideCard()" class="button button-full button-outline button-dark arrow">
            Demographics
        </button>
        <div class="card" ng-show="show">
                <div class="item item-text-wrap">
                    <font color="#495dc6">Case Number</font>
                      {{patient.caseno}}
                    <br>
                    <font color="#495dc6">MD</font>
                      {{patient.md}}
                    <br>
                    <font color="#495dc6">Institution</font>
                      {{patient.institution}}
                    <br>
                    <font color="#495dc6">Contact Number</font>  
                      {{patient.contact}}
                    <br>
                    <font color="#495dc6">Email Address</font>
                      {{patient.email}}
                    <br>
                    <font color="#495dc6">Address</font> 
                      {{patient.address}}
                    <br>
                    <font color="#495dc6">Sex</font> 
                      {{patient.sex}}
                    <br>
                    <font color="#495dc6">Civil Status</font>
                      {{patient.civilstatus}}
                    <br>
                    <font color="#495dc6">Date of Birth</font>
                      {{patient.date_birth}}
                    <br>
                    <font color="#495dc6">Date of First Symptom</font>
                      {{patient.date_onset}}
                    <br>
                    <font color="#495dc6">Date of Diagnosis</font>
                      {{patient.date_diagnosis}}
                    <br>
                    <font color="#495dc6">Date of Registry Entry</font>
                      {{patient.date_registryentry}}
                    <br>
                    <font color="#495dc6">Disease Duration (cell M minus cell L)</font>
                      {{patient.diseaseduration}}
                    <br>
                    <font color="#495dc6">Status</font>
                      {{patient.status}}
                    <br>
                    <font color="#495dc6">If expired, indicate months from diagnosis</font>
                      {{patient.expired}}
                    <br>
                    <font color="#495dc6">If expired, indicate cause of death (1 = infection; 2 = aneurysm rupture / leak; 3 = unrelated cause; 4 = others - please specify)</font>
                      {{patient.expired_cause}}
                    <br>
                    <font color="#495dc6">Years of Formal Education</font>
                      {{patient.years_education}}
                    <br>
                    <font color="#495dc6">Employment</font>
                      {{patient.employment}}
                    <br>
                    <font color="#495dc6">Chief Complaint</font>
                      {{patient.chiefcomplaint}}
                    <br>
              </div>
          </div>
          <div ng-controller="hideCtrl"><button ng-click="hideCard()" class="button button-full button-outline button-dark button">
            Family and Social Histories
          </button>
          <div class="card" ng-show="show">
              <div class="item item-text-wrap">
                <font color="#495dc6">Family Member with Vasculitis (0 = none; 1 = 1 member; 2 = 2, and so on)</font>  
                  {{patient.family}}
                <br>
                <font color="#495dc6">Smoking</font>
                  {{patient.smoking}}
                <br>
                <font color="#495dc6">Alcohol</font>
                  {{patient.alcohol}}
            </div>
        </div>
        <button class="button button-calm button-block" ui-sref="app.addpatient" ng-click="get(patient._id)">Update Profile</button>
    </ion-content>
</ion-view>