<ion-view title="Report a Problem">
  <ion-content class="has-header" class="padding">
            <textarea id="TextArea" ng-model="loremIpsum" ng-keyup="autoExpand($event)" placeholder="What seems to be the problem?">
            </textarea>
            <button class="button button-block button-calm">
            <!-- ng-click="createContact(newUser)" -->
            	Submit
            </button>
  </ion-content>
</ion-view>