<ion-view title="Search">
    <ion-content>

        <ion-list>
            <label class="item item-input">
                <span class="input-label">Search</span>
                <input type="search" placeholder="">
            </label>
            <label class="item item-select">
                <span class="input-label">Search by</span>
                <select>
                    <option>Patient Key</option>
                    <option>Demographics: Sex</option>
                    <option>Demographics: MD</option>
                    <option>Demographics: Institution</option>
                    <option>Demographics: Address</option>
                    <option>Demographics: Status</option>
                    <option>Diagnosis: Age at Registry Entry</option>
                    <option>Diagnosis: Age of Diagnosis</option>
                    <option>Diagnosis: Age of Onset</option>
                    <option>Diagnosis: Disease Duration</option>
                    <option>Diagnosis: Chief Complaint</option>
                    <option>Social History: Patient Type</option>
                    <option>Social History: Civil Status</option>
                    <option>Social History: Years of Formal Education</option>
                    <option>Social History: Employment</option>
                    <option>Social History: Smoking</option>
                    <option>Social History: Alcohol</option>
                    <option>Past Medical History: HPN</option>
                    <option>Past Medical History: ACS</option>
                    <option>Past Medical History: DM</option>
                    <option>Past Medical History: CDV</option>
                    <option>Past Medical History: CKD</option>
                    <option>Past Medical History: No. of Admissions</option>
                    <option>Past Medical History: Others</option>
                    <option>OB History: G</option>
                    <option>OB History: P</option>
                    <option>OB History: OB Score</option>
                    <option>Constitutional Symptoms: Weight Loss</option>
                    <option>Constitutional Symptoms: Weakness</option>
                    <option>Constitutional Symptoms: Fatigue</option>
                    <option>Constitutional Symptoms: Fever</option>
                    <option>Constitutional Symptoms: Fever</option>
                    <option>Constitutional Symptoms: Anorexia</option>
                    <option>Constitutional Symptoms: CHF</option>
                    <option>Constitutional Symptoms: Angina</option>
                    <option>Systemic Involvement: CVS</option>
                    <option>Systemic Involvement: Pulmo</option>
                    <option>Systemic Involvment: GI</option>
                    <option>Systemic Involvmenet: Joint</option>
                    <option>Systemic Involvement: Renal</option>
                    <option>Systemic Involvement: CNS</option>
                    <option>Systemic Involvement: Endo</option>
                    <option>Baseline PE: Height (m)</option>
                    <option>Baseline PE: Weight (kg)</option>
                    <option>Baseline PE: BMI</option>
                    <option>Baseline PE: Wait Circm</option>
                    <option>Baseline PE: SBP</option>
                    <option>Baseline PE: DBP</option>
                    <option>Baseline PE: HR</option>
                    <option>Baseline PE: O2 Sats</option>
                    <option>Baseline PE: 6MW(m)</option>
                    <option>Baseline PE: NYFC</option>
                    <option>Cardiac Examination: Cardiac Enlargement</option>
                    <option>Cardiac Examination: Murmur</option>
                    <option>Cardiac Examination: Pulses</option>
                    <option>Cardiac Examination: Rales</option>
                    <option>Cardiac Examination: NVE</option>
                    <option>Cardiac Examination: Edema</option>
                    <option>Cardiac Examination: Gallop</option>
                    <option>Cardiac Examination: Rub</option>
                    <option>Skin Changes: Rash</option>
                    <option>Skin Changes: Raynaud's</option>
                    <option>Skin Changes: Hyperpigment</option>
                    <option>Skin Changes: Skin Tight</option>
                    <option>Skin Changes: Telangiectasia</option>
                    <option>Skin Changes: Reduced Oral Aperture</option>
                    <option>Skin Changes: Malar</option>
                    <option>Skin Changes: Discoid</option>
                    <option>Joint Changes: Arthritis</option>
                    <option>Joint Changes: Arthralgia</option>
                    <option>Joint Changes: Limited Mobility</option>
                    <option>Joint Changes: Myalgia</option>
                    <option>Joint Changes: Deformity</option>
                    <option>Joint Changes: Atrophy</option>
                    <option>Joint Changes: Effusion</option>
                    <option>Joint Changes: Contracture</option>
                    <option>Baseline Laboratory Results: Hemoglobin</option>
                    <option>Baseline Laboratory Results: WBC</option>
                    <option>Baseline Laboratory Results: Neut</option>
                    <option>Baseline Laboratory Results: Lymph</option>
                    <option>Baseline Laboratory Results: Platelet</option>
                    <option>Baseline Laboratory Results: Crea</option>
                    <option>Baseline Laboratory Results: BUN</option>
                    <option>Baseline Laboratory Results: Proteinuria</option>
                    <option>Baseline Laboratory Results: Hematuria</option>
                    <option>Baseline Laboratory Results: Glucosuria</option>
                    <option>Baseline Laboratory Results: PO2</option>
                    <option>Baseline Laboratory Results: PCO2</option>
                    <option>Baseline Laboratory Results: ANA</option>
                    <option>Baseline Laboratory Results: C3</option>
                    <option>Baseline Laboratory Results: COOMBS</option>
                    <option>Baseline Laboratory Results: Anti-dsDNA</option>
                    <option>Baseline Laboratory Results: Anti-Centromere</option>
                    <option>Baseline Laboratory Results: CRP</option>
                    <option>Baseline Laboratory Results: ESR</option>
                    <option>Baseline Laboratory Results: RF</option>
                    <option>Baseline Laboratory Results: D-Dimer</option>
                    <option>Baseline Laboratory Results: Trop I</option>
                    <option>Baseline ECG: Rhythm</option>
                    <option>Baseline ECG: Axis</option>
                    <option>Baseline ECG: Chamber Enlargement</option>
                    <option>Baseline ECG: Others</option>
                    <option>Baseline ECHO: EF</option>
                    <option>Baseline ECHO: TAPSE</option>
                    <option>Baseline ECHO: Pulmo Pressure</option>
                    <option>Baseline ECHO: Valves</option>
                    <option>Baseline ECHO: Chamber Enlargement</option>
                    <option>Baseline ECHO: Thrombus</option>
                    <option>Imaging: Ultrasound</option>
                    <option>Imaging: CT</option>
                    <option>Imaging: MRI</option>
                    <option>Imaging: Angiogram</option>
                    <option>Management: Rheuma Meds</option>
                    <option>Management: Cardiac Meds</option>
                    <option>Management: Other Meds</option>
                </select>
            </label>
        </ion-list>
        <div class="spacer" style="width: 304px; height: 51px;"></div>
        <ion-list>
           <!--results-->
        </ion-list>
    </ion-content>
</ion-view>