<ion-view title="{{type.title}}">
    <ion-content padding="true" class="has-header">
    	<h4>Symptoms:</h4>
          <ion-list>
            <ion-checkbox class="item-text-wrap" ng-repeat="item in type.symptom" ng-checked="isChecked()" ng-model="item.checked">
                {{item.name}}
            </ion-checkbox>
          </ion-list>
         <div class="item item-input-inset" align="center">
	        <button class="button button-calm medium-btn" ui-sref="app.updateprofile">Add More Details</button>
	        <div ng-controller="popupCtrl">
	        	<button class="button button-calm medium-btn" ng-click="showPopup()">Save</button>
	        </div>
	        <button class="button button-calm medium-btn text-wrap" ui-sref="app.dashboard">Go to Dashboard</button>
	     </div>
    </ion-content>
</ion-view>