<ion-view title="Patient Profile">
    <ion-content padding="true" class="has-header">
        <form>
        <div ng-controller="hideCtrl">
          <button ng-click="hideCard()" class="button button-full button-outline button-dark button">
            General Details
          </button>
          <div class="card" ng-show="show">
              <div class="item item-text-wrap">
                <label class="item item-input">
                    <span class="input-label">Name</span>
                    <input type="text" placeholder="">
                </label>
              </div>
          </div>
        </div>
        <div ng-controller="hideCtrl"><button ng-click="hideCard()" class="button button-full button-outline button-dark arrow">
            Demographics
        </button>
        <div class="card" ng-show="show">
                <div class="item item-text-wrap">
                <label class="item item-input">
                    <span class="input-label">Sex</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Case Number</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">MD</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Institution</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Contact Number with Email Address</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Address</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Status</span>
                    <input type="text" placeholder="">
                </label>
              </div>
          </div>
          <div ng-controller="hideCtrl"><button ng-click="hideCard()" class="button button-full button-outline button-dark button">
            Diagnosis
          </button>
          <div class="card" ng-show="show">
              <div class="item item-text-wrap">
                <label class="item item-input">
                    <span class="input-label">Age at Registry Entry</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Age of Diagnosis</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Age at Symptom Onset</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Disease Duration (cell M minus cell L)</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Chief Complaint</span>
                    <input type="text" placeholder="">
                </label>
              </div>
          </div>
          <div ng-controller="hideCtrl"><button ng-click="hideCard()" class="button button-full button-outline button-dark button">
            Social History
          </button>
          <div class="card" ng-show="show">
              <div class="item item-text-wrap">
                <label class="item item-input">
                    <span class="input-label">Patient Type</span>
                    <input type="text" placeholder="">
                </label>
                 <label class="item item-input">
                    <span class="input-label">Civil Status</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Years of Formal Education</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Employment</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Smoking</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Alcohol</span>
                    <input type="text" placeholder="">
                </label>
              </div>
            </div>
        <a ui-sref="app.typesofvasculitis" button class="button button-calm button-block ">Start Evaluation</a>
        </form>
    </ion-content>
</ion-view>