<ion-view title="Dashboard">
  <ion-nav-buttons side="right">
    <div ng-controller="reportCtrl">
        <button class="right button button-icon icon ion-settings" ng-click="modal.show()"> <!-- ng-click="create()"> --></button>
    </div>
  </ion-nav-buttons>

    <ion-tabs class="tabs-stable tabs-icon-top tabs-positive">
        <ion-tab title="Graphs" icon="ion-pie-graph">
          <ion-nav-view name="dashboard">
            <ion-content padding="true" class="has-header">
                <img class="graphview" src="img/graph.png"></img>
                <a href="#/signup" class="button button-dark button-outline button-full button-block seemore">See More Details</a>
<!--                 <div ng-controller="stat" ><ion-list>
                    <ion-item ng-repeat="item in items" item="item" href="#/item/{{item.id}}">
                        Item {{ item.id }}
                    </ion-item>
                </div>
                </ion-list> -->
                <img class="graphoption" src="img/graph.png"></img>
                <img class="graphoption" src="img/graph.png"></img>
                <img class="graphoption" src="img/graph.png"></img>
            </ion-content>
          </ion-nav-view>
        </ion-tab>
        <ion-tab title="Statistics" icon="ion-stats-bars">
          <ion-nav-view name="documents">
            <ion-content padding="true" class="has-header">
                <ion-list>
                    <h2>Demographics</h2>
                        <p>50% Women / 50% Men</p>
                        <p>20% are single</p>
                    <h2>Social History</h2>
                        <p>30% Smokers</p>
                        <p>20% Alcoholics</p>
                </ion-list>
            </ion-content>
          <ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>