<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-positive">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-positive">
      <h1 class="title">Hi, Doc!</h1>
    </ion-header-bar>
    <ion-content class="has-header">
      <ion-list>
       <ion-item menu-close ui-sref="app.search">
          <i class="icon ion-search"></i>
          Search Database
        </ion-item>
        <ion-item menu-close ui-sref="app.dashboard">
          <i class="icon ion-ios-home"></i>
          Dashboard
        </ion-item>
        <ion-item menu-close ui-sref="app.patients">
          <i class="icon ion-ios-people"></i>
          Patients
        </ion-item>
        <ion-item menu-close ui-sref="app.patientprofile">
          <i class="icon ion-person"></i>
          Recent Patient Profile
        </ion-item>
        <ion-item menu-close>
          <i class="icon ion-ios-download"></i>
          Sync Online
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
  </ion-side-menu>
</ion-side-menus>
