<ion-view title="Patients">
 
  <ion-nav-buttons side="right">
    <!--ng-controller="TodoController"-->
    <button class="right button button-icon icon ion-plus" ui-sref="app.addpatient"> <!-- ng-click="create()"> --></button>
  </ion-nav-buttons>

  <ion-content padding="true">
    <!-- <ion-list>
      <ion-item ng-repeat="todo in todos | orderBy:'done'">
        <ion-checkbox ng-model="todo.done" ng-change="update(todo)">{{todo.title}}</ion-checkbox>
      </ion-item>
    </ion-list> -->
 <!--  </ion-content>
</ion-view> -->