<ion-view title="Patient Profile">
    <ion-content padding="true" class="has-header">
        <div ng-controller="hideCtrl">
          <button ng-click="hideCard()" class="button button-full button-outline button-dark button">
            General Details
          </button>
          <div class="card" ng-show="show">
              <div class="item item-text-wrap">
                Name:
              </div>
          </div>
        </div>
        <div ng-controller="hideCtrl"><button ng-click="hideCard()" class="button button-full button-outline button-dark arrow">
            Demographics
        </button>
        <div class="card" ng-show="show">
                <div class="item item-text-wrap">
                    Sex:<br>Case Number:<br>
                    MD:<br>Institution:<br>
                    Contact Number with Email Address:<br>
                    Address:<br>Status:<br>
              </div>
          </div>
          <div ng-controller="hideCtrl"><button ng-click="hideCard()" class="button button-full button-outline button-dark button">
            Diagnosis
          </button>
          <div class="card" ng-show="show">
              <div class="item item-text-wrap">
                Age at Registry Entry:<br>
                Age of Diagnosis:<br>
                Age at Symptom Onset:<br>
                Disease Duration (cell M minus cell L):<br>
                Chief Complaint:<br>
              </div>
          </div>
          <div ng-controller="hideCtrl"><button ng-click="hideCard()" class="button button-full button-outline button-dark button">
            Social History
          </button>
          <div class="card" ng-show="show">
              <div class="item item-text-wrap">
                Patient Type:<br>Civil Status:<br>
                Years of Formal Education:<br>
                Employment:<br>Smoking:<br>
                Alcohol:<br>
            </div>
        </div>
        <button class="button button-calm button-block" ui-sref="app.updateprofile">Update Profile</button>
    </ion-content>
</ion-view>