<ion-view title="Report a Problem">
  <ion-content class="has-header">
	<ion-modal-view>
        <ion-header-bar class="bar bar-header bar-positive">
          <h1 class="title">Report a Problem</h1>
          <button class="button button-clear button-primary" ng-click="modal.hide()">Cancel</button>
        </ion-header-bar>
        <ion-content class="padding">
            <label class="item item-input">
              <span class="input-label">Problem Description</span>
              <input ng-model="newUser.firstName" type="text">
            </label>
            <button class="button button-full button-calm" ng-click="createContact(newUser)">
            	Submit
            </button>
        </ion-content>
      </ion-modal-view>
 </ion-content>
</ion-view>