<ion-view title="{{type.title}}">
    <ion-content padding="true" class="has-header">
    	<h4>Symptoms:</h4>
          <ion-list>
            <ion-checkbox class="item-text-wrap" ng-repeat="item in type.symptom" ng-checked="isChecked()" ng-model="item.checked">
                {{item.name}}
            </ion-checkbox>
          </ion-list>
    </ion-content>
</ion-view>