<ion-view title="Types of Vasculitis">
    <ion-content padding="true" class="has-header">
        <!-- <div ng-controller="diseasesCtrl"> -->
            <ion-list>
                <ion-item class="item-text-wrap" ng-repeat="type in types" ui-sref='app.type({typeTitle: type.title})'>
                    {{type.title}}
                </ion-item>
            </ion-list>
        <!-- </div> -->
    </ion-content>
</ion-view>