<ion-view title="Patient Profile">
    <ion-content padding="true" class="has-header">
        <form>
        <div ng-controller="hideCtrl"><button ng-click="hideCard()" class="button button-full button-outline button-dark button">
            General Details
        </button>
        <div class="card" ng-show="show">
              <div class="item item-text-wrap">
                <label class="item item-input">
                    <span class="input-label">Name</span>
                    <input type="text" placeholder="">
                </label>
              </div>
          </div>
        </div>
        <div ng-controller="hideCtrl"><button ng-click="hideCard()" class="button button-full button-outline button-dark button">
            Demographics
        </button>
        <div class="card" ng-show="show">
                <div class="item item-text-wrap">
                <label class="item item-input">
                    <span class="input-label">Sex</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Case Number</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">MD</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Institution</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Contact Number with Email Address</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Address</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Status</span>
                    <input type="text" placeholder="">
                </label>
              </div>
          </div>
          <div ng-controller="hideCtrl"><button ng-click="hideCard()" class="button button-full button-outline button-dark button">
            Diagnosis
          </button>
          <div class="card" ng-show="show">
              <div class="item item-text-wrap">
                <label class="item item-input">
                    <span class="input-label">Age at Registry Entry</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Age of Diagnosis</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Age at Symptom Onset</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Disease Duration (cell M minus cell L)</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Chief Complaint</span>
                    <input type="text" placeholder="">
                </label>
              </div>
          </div>
          <div ng-controller="hideCtrl"><button ng-click="hideCard()" class="button button-full button-outline button-dark button">
            Social History
          </button>
          <div class="card" ng-show="show">
              <div class="item item-text-wrap">
                <label class="item item-input">
                    <span class="input-label">Patient Type</span>
                    <input type="text" placeholder="">
                </label>
                 <label class="item item-input">
                    <span class="input-label">Civil Status</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Years of Formal Education</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Employment</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Smoking</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Alcohol</span>
                    <input type="text" placeholder="">
                </label>
              </div>
          </div>
          <div ng-controller="hideCtrl"><button ng-click="hideCard()" class="button button-full button-outline button-dark button">
            Past Medical Records
          </button>
          <div class="card" ng-show="show">
              <div class="item item-text-wrap">
                <label class="item item-input">
                    <span class="input-label">Hypertension</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Acute Coronary Syndrome</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Diabetes Mellitus</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Chronic Kidney Disease</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Number of Admissions</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Others</span>
                    <input type="text" placeholder="">
                </label>
              </div>
          </div>
          <div ng-controller="hideCtrl"><button ng-click="hideCard()" class="button button-full button-outline button-dark button">
            OB History
          </button>
          <div class="card" ng-show="show">
              <div class="item item-text-wrap">
                <label class="item item-input">
                    <span class="input-label">Gravida: Number of times pregnant</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Para: Number of times with actual giving of birth</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Obstetric Score</span>
                    <input type="text" placeholder="">
                </label>
              </div>
          </div>
          <div ng-controller="hideCtrl"><button ng-click="hideCard()" class="button button-full button-outline button-dark button">
            Constitutional Symptoms
          </button>
          <div class="card" ng-show="show">
              <div class="item item-text-wrap">
                <label class="item item-input">
                    <span class="input-label">Weight Loss</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Weakness</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Fatigue</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Fever</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Anorexia</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Congestive Heart Failure</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Angina</span>
                    <input type="text" placeholder="">
                </label>
              </div>
          </div>
          <div ng-controller="hideCtrl"><button ng-click="hideCard()" class="button button-full button-outline button-dark button">
            Systemic Involvement
          </button>
          <div class="card" ng-show="show">
              <div class="item item-text-wrap">
                <label class="item item-input">
                    <span class="input-label">Cardiovascular System</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Pulmo</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Gastrointestinal</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Joint</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Renal</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Central Nervous System</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Endo</span>
                    <input type="text" placeholder="">
                </label>
              </div>
          </div>
          <div ng-controller="hideCtrl"><button ng-click="hideCard()" class="button button-full button-outline button-dark button">
            Baseline PE
          </button>
          <div class="card" ng-show="show">
              <div class="item item-text-wrap">
                <label class="item item-input">
                    <span class="input-label">Height</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Weight</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Body Mass Index</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Weight Circumference</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Systolic Blood Pressure</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Diastolic BP</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Heart Rate</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Oxygen Saturation</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">6-minute walk test in meters</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">New York Functional Capacity</span>
                    <input type="text" placeholder="">
                </label>
              </div>
          </div>
          <div ng-controller="hideCtrl"><button ng-click="hideCard()" class="button button-full button-outline button-dark button">
            Cardiac Examination
          </button>
          <div class="card" ng-show="show">
              <div class="item item-text-wrap">
                <label class="item item-input">
                    <span class="input-label">Cardiac Enlargement</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Murmur</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Pulses</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Rales</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Neck vein engorgement</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Edema</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Gallop</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Rub</span>
                    <input type="text" placeholder="">
                </label>
              </div>
          </div>
          <div ng-controller="hideCtrl"><button ng-click="hideCard()" class="button button-full button-outline button-dark button">
            Skin Changes
          </button>
          <div class="card" ng-show="show">
              <div class="item item-text-wrap">
                <label class="item item-input">
                    <span class="input-label">Rash</span>
                    <input type="text" placeholder="">
                </label>
              </div>
              <label class="item item-input">
                    <span class="input-label">Raynaud's</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Hyperpigment</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Skin Tight</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Telangiectasia</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Reduced Oral Aperture</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Malar</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Discoid</span>
                    <input type="text" placeholder="">
                </label>
          </div>
          <div ng-controller="hideCtrl"><button ng-click="hideCard()" class="button button-full button-outline button-dark button">
            Joint Changes
          </button>
          <div class="card" ng-show="show">
              <div class="item item-text-wrap">
                <label class="item item-input">
                    <span class="input-label">Arthritis</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Arthralgia</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Limited Mobility</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Myalgia</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Deformity</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Atrophy</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Effusion</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Contracture</span>
                    <input type="text" placeholder="">
                </label>
              </div>
          </div>
          <div ng-controller="hideCtrl"><button ng-click="hideCard()" class="button button-full button-outline button-dark button">
            Baseline Laboratory Results
          </button>
          <div class="card" ng-show="show">
              <div class="item item-text-wrap">
                <label class="item item-input">
                    <span class="input-label">Name</span>
                    <input type="text" placeholder="">
                </label>
              </div>
          </div>
          <div ng-controller="hideCtrl"><button ng-click="hideCard()" class="button button-full button-outline button-dark button">
            Baseline ECG
          </button>
          <div class="card" ng-show="show">
              <div class="item item-text-wrap">
                <label class="item item-input">
                    <span class="input-label">Name</span>
                    <input type="text" placeholder="">
                </label>
              </div>
          </div>
          <div ng-controller="hideCtrl"><button ng-click="hideCard()" class="button button-full button-outline button-dark button">
            Baseline ECHO
          </button>
          <div class="card" ng-show="show">
            <div class="item item-text-wrap">
                <label class="item item-input">
                    <span class="input-label">Name</span>
                    <input type="text" placeholder="">
                </label>
              </div>
          </div>
          <div ng-controller="hideCtrl"><button ng-click="hideCard()" class="button button-full button-outline button-dark button">
            Imaging
          </button>
          <div class="card" ng-show="show">
              <div class="item item-text-wrap">
                <label class="item item-input">
                    <span class="input-label">Name</span>
                    <input type="text" placeholder="">
                </label>
              </div>
          </div>
          <div ng-controller="hideCtrl"><button ng-click="hideCard()" class="button button-full button-outline button-dark button">
            Management
          </button>
          <div class="card" ng-show="show">
              <div class="item item-text-wrap">
                <label class="item item-input">
                    <span class="input-label">Name</span>
                    <input type="text" placeholder="">
                </label>
              </div>
          </div>
          <div ng-controller="hideCtrl"><button ng-click="hideCard()" class="button button-full button-outline button-dark button">
            Infusion Areas
          </button>
          <div class="card" ng-show="general">
            <div class="item item-divider item-dark">
                Infusion Area
            </div>
              <div class="item item-text-wrap">
                <label class="item item-input">
                    <span class="input-label">Address</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Latitude</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Longitude</span>
                    <input type="text" placeholder="">
                </label>
                <img src="img/map.png">
              </div>
          </div>
        <a ui-sref="app.typesofvasculitis" button class="button button-balanced button-block ">Start Evaluation</a>
        </form>
    </ion-content>
</ion-view>