.graphoption {
  width: 33.33%; /* Width of new image */
  height: auto; /* Height of new image */
  vertical-align: middle;
  float: left;
}
.angular-google-map-container {
  width: 100%;
  height: 504px;
}

.walkthrough {
  width: 100%; /* Width of new image */
  height: auto; /* Height of new image */
  vertical-align: middle;
}

.graphview{
	width: auto;
	height: 300px;
}

.item-select select{
	direction: ltr;
}